:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
}
.container {
  background-color: black;
}
.left {
  width: 25vw;
  background-color: #121212;
  margin: 8px;
}
.right {
  width: 73vw;
  background-color: #121212;
  position: relative;
  margin: 9px 10px;
  padding: 10px;
}
.menu {
  display: none;
}
.cancel-button {
  display: none;
}
.top-section {
  padding: 20px 28px 22px;
}
.top-section ul li {
  padding: 5px 0px;
}
.top-section ul {
  list-style: none;
  padding: 8px 0px 0px 0px;
}
.top-img {
  height: 30px;
  width: 30px;
}
.top-section ul li span {
  padding: 2px 15px;
  position: absolute;
  font-weight: bold;
  font-size: 21px;
}
.bottom-section {
  padding: 5px;
  min-height: 66.2vh;
}
.bottom-section img {
  height: 25px;
  width: 25px;
}
.bottom-section span {
  padding: 5px 10px;
  opacity: 0.7;
  font-weight: 700;
  font-size: 22px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 20px 40px;
}
.footer a {
  color: grey;
}
.right .header {
  background-color: #121212;
}
.right .header img {
  height: 35px;
  width: 30px;
  margin-top: 5px;
  padding: 8px 0px;
}
.right .header button {
  padding: 12px;
  border: none;
  font-size: 22px;
  border-radius: 15px;
}
.right .header .header-right {
  margin-right: 70px;
}
.spotify-playlists {
  font-size: 16px;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.spotify-playlists .card {
  width: 230px;
  padding: 18px 15px;
  background-color: #151515;
}
.card {
  position: relative;
  border-radius: 15px;
}
.card img {
  width: 100%;
  object-fit:cover;
  height: 200px;
}
.card .playbutton {
  position: absolute;
  background-color: green;
  height: 50px;
  width: 50px;
  padding: 8px;
  border-radius: 50%;
  right: 25px;
  bottom: 100px;
  opacity:var(--a);
  transition: all ease .8s;
}
.card:hover{
  cursor: pointer;
  background-color: #352f2f;
  --a:1;
}

.playbar {
  position: absolute;
  bottom: 25px;
  background: #b3d5b6;
  padding:25px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center; /* Center align items vertically */
}
.playbar >*{
  margin-bottom:20px;
}
.track-name {
  padding: 0 30px;
  flex: 1; /* Allow track-name to take up remaining space */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.function-buttons {
  display: flex;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  left: 51%;
}

.vol-duration {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.track-duration {
  padding: 0 30px;
}

.vol {
  display: flex;
  gap: 6px;
}
.seekbar {
  position: absolute;
  bottom: 40px;
  height: 8px;
  width: 90%;
  left: 5%;
  background-color: rgb(97, 92, 92);
  border: 1px solid rgb(15, 3, 3);
  border-radius: 20px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  position: absolute;
  bottom: 42px;
  height: 15px;
  width: 15px;
  left: 0;
  margin: 0px 5.2%;
  border-radius: 50%;
  background-color: rgb(48, 150, 32);
  transition: left 0.1s;
}

.songList {
  height: 429px;
  overflow: auto;
}
.songList ul {
  padding: 16px;
  font-size: 15px;
  list-style-type: auto;
}
.songList ul > * {
  border: 1px solid rgb(162, 163, 145);
  margin-bottom: 10px;
  padding: 10px;
  width: 22vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.song-info {
  margin-top: 15px;
  margin-left: 4%;
  gap: 15px;
  padding: 10px;
  border: 1px solid rgb(130, 121, 110);
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  width: 22vw;
}

.more-info {
  display: flex;
  /* width:100%; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: 18px;
}

@media only screen and (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    z-index: 99999;
    width: 78vw;
    height: 82vh;
  }
  .right {
    width: 100vw;
  }
  .header {
    width: 100vw;
  }
  .menu {
    display: block;
    z-index: 999999999999;
  }
  .cancel-button {
    display: block;
    position: absolute;
    right: 10px;
  }
  .playbar {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 200px;
    width:90%;
    font-size: larger;
    margin-bottom: 16px;
    position: fixed;
    z-index: 999;
    background: #be8ebc;
  }

  .function-buttons {
    position: fixed;
    left: 37%;
    bottom: 99px;
  }
  .songList {
    max-height: 40vh;
    padding: 0;
    width: 75vw;
  }
  .footer {
    position: absolute;
    bottom: 0%;
  }
  .songList ul > * {
    width: 100%;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
  }
  .playbar,
  .seekbar {
    right: 5;
  }
  .seekbar {
    position: fixed;
    left: 18px;
    bottom: 8.5rem;
    width: 85%;
    padding: 0;
    z-index: 99999;
  }
  .vol-duration {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 10px;
  }

  .circle {
    position: fixed;
    z-index: 99999;
    bottom: 8.65rem;
    margin: 0 12px;
  }

  .cardcontainer {
    flex-direction: column;
    align-items: center;
  }

  .spotify-playlists .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .spotify-playlists .card img {
    height: auto;
    width: 100%;
  }

  .spotify-playlists .card .playbutton {
    height: 70px;
    width: 70px;
    right: 15px;
    bottom: 150px;
  }
  .hh {
    padding: 20px;
  }
  .footer{
    gap: 5px;
    padding: 0px 15px 10px;
  }
}
